
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}

{% block main %}
<!-- <table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        {% for row in database %}
        <tr>
            <td>{{ row["symbol"] }}</td>
            <td>{{ row["shares"] }}</td>
            <td>{{ row["price"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table> -->

  <table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        {% for row in transactions %}
        <tr>
            <td>{{ row["symbol"] }}</td>
            <td>{{ row["shares"] }}</td>
            <td>{{ row["price"] }}</td>
            <td>{{ row["date"] }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}
